<nav class="navbar" id="navbar">
  <div class="logo">
    <a href="../index.html">
      <img src="../img/header/popcorn.png" alt="Logo" class="logo-icon" />
    </a>
    <span class="logo-text">Cinemania</span>
  </div>

  <div class="overlay" id="overlay"></div>
  <ul class="links" id="links">
    <li class="active"><a href="../index.html">HOME</a></li>
    <li><a href="./catalog.html">CATALOG</a></li>
    <li><a href="./library.html">MY LIBRARY</a></li>
  </ul>
  <div class="mobile-menu">
    <button id="menu" class="logo-button menu-title">menu</button>

    <div class="theme-toggle">
      <label class="switch">
        <input type="checkbox" id="toggle" />
        <div class="slider-container">
          <svg class="icon" id="themeIcon">
            <use href="../img/icon.svg#icon-Vector"></use>
          </svg>
          <svg class="icon marquee">
            <use href="../img/icon.svg#icon-Circle"></use>
          </svg>
        </div>
      </label>
    </div>
  </div>
</nav>
<div class="sidebar-backdrop" id="sidebar-backdrop">
  <nav class="sidebar" id="sidebar">
    <div class="logo">
      <img src="../img/header/popcorn.png" alt="Logo" class="logo-icon" />
    </div>
    <ul class="menu-links" id="menuLinks">
      <li class="active"><a href="../index.html">HOME</a></li>
      <li><a href="./catalog.html">CATALOG</a></li>
      <li><a href="./library.html">MY LIBRARY</a></li>
    </ul>
  </nav>
</div>
<script src="../js/partials/header.js"></script>
