.weekly-section {
    max-width: 280px;
    padding: 0;
    margin: 20px auto 0;
    width: 100%;
}

[data-theme='light-theme'] .weekly-header h2 {
    color:#111;
}

[data-theme='dark-theme']  h2 {
    color:#fff;
}

.weekly-header {
    margin-top: 40px;
    display: flex;
    justify-content: space-beetween;
    align-items: center;
    width: 280px;
    margin: 0 auto;
}

.weekly-gallery {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.weekly-gallery li {
    list-style: none;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d;
    will-change: transform;
}

.weekly-gallery li:hover {
    transform: scale(1.03) perspective(600px) translateZ(8px);
    box-shadow: 0 0 32px rgba(248, 119, 25, 0.8);
    z-index: 2;
}

[data-theme='dark-theme'] .weekly-gallery li {
    box-shadow: 0 0 20px rgba(255, 136, 25, 0.2);
}

[data-theme='light-theme'] .weekly-gallery li {
  box-shadow: 0 0 20px rgba(255, 136, 25, 0.1);
}

h2 {
    color: white;
}